/* 1 */

position: relative;
width: 400px;
height: 600px;

background: linear-gradient(0deg, #F3F3F3, #F3F3F3);


/* Group 55 */

position: absolute;
width: 180.14px;
height: 99.04px;
left: 302px;
top: 71px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 760 */

position: absolute;
width: 58.49px;
height: 24.95px;
left: 357.37px;
top: 145.08px;

background: #FFFFFF;


/* Rectangle 769 */

position: absolute;
width: 108.39px;
height: 24.95px;
left: 348.01px;
top: 95.95px;

background: #FFFFFF;


/* Rectangle 770 */

position: absolute;
width: 108.39px;
height: 24.17px;
left: 327.73px;
top: 120.91px;

background: #FFFFFF;


/* Rectangle 768 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 302px;
top: 95.95px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 771 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 390.9px;
top: 71px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 772 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 457.18px;
top: 120.13px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 54 */

position: absolute;
width: 185.95px;
height: 99.04px;
left: -25px;
top: 0px;



/* Rectangle 760 */

position: absolute;
width: 58.49px;
height: 24.95px;
left: 41.28px;
top: 74.08px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 769 */

position: absolute;
width: 108.39px;
height: 24.95px;
left: 0.73px;
top: 24.95px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 770 */

position: absolute;
width: 115px;
height: 24px;
left: 21px;
top: 50px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 768 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 136px;
top: 25px;

background: #FFFFFF;


/* Rectangle 771 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 41.28px;
top: 0px;

background: #FFFFFF;


/* Rectangle 772 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: -25px;
top: 49.13px;

background: #FFFFFF;


/* Group 52 */

position: absolute;
width: 310px;
height: 323px;
left: 45px;
top: 163px;



/* Rectangle 179 */

position: absolute;
width: 282px;
height: 316px;
left: 52px;
top: 170px;

background: #3B3B3B;


/* Rectangle 227 */

position: absolute;
width: 37px;
height: 303px;
left: 318px;
top: 170px;

background: #3B3B3B;


/* Rectangle 232 */

position: absolute;
width: 275px;
height: 7px;
left: 59px;
top: 163px;

background: #3B3B3B;


/* Rectangle 148 */

position: absolute;
width: 289px;
height: 296px;
left: 45px;
top: 170px;

background: #3B3B3B;


/* Subtract */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 418px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 418px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 283px;
height: 55px;
left: 52px;
top: 418px;



/* Rectangle 195 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 418px;

background: #D9D9D9;


/* Rectangle 199 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 465px;

background: #D9D9D9;


/* Rectangle 200 */

position: absolute;
width: 8px;
height: 8px;
left: 326px;
top: 418px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 327px;
top: 465px;

background: #D9D9D9;


/* Subtract */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 356px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 356px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 283px;
height: 55px;
left: 52px;
top: 356px;



/* Rectangle 195 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 356px;

background: #D9D9D9;


/* Rectangle 199 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 403px;

background: #D9D9D9;


/* Rectangle 200 */

position: absolute;
width: 8px;
height: 8px;
left: 326px;
top: 356px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 327px;
top: 403px;

background: #D9D9D9;


/* Subtract */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 294px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 294px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 283px;
height: 55px;
left: 52px;
top: 294px;



/* Rectangle 195 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 294px;

background: #D9D9D9;


/* Rectangle 199 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 341px;

background: #D9D9D9;


/* Rectangle 200 */

position: absolute;
width: 8px;
height: 8px;
left: 326px;
top: 294px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 327px;
top: 341px;

background: #D9D9D9;


/* Subtract */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 232px;

background: #646464;


/* Rectangle 194 */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 232px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 283px;
height: 55px;
left: 52px;
top: 232px;



/* Rectangle 195 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 232px;

background: #D9D9D9;


/* Rectangle 199 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 279px;

background: #D9D9D9;


/* Rectangle 200 */

position: absolute;
width: 8px;
height: 8px;
left: 326px;
top: 232px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 327px;
top: 279px;

background: #D9D9D9;


/* Subtract */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 170px;

background: #646464;


/* Rectangle 194 */

position: absolute;
width: 282px;
height: 55px;
left: 52px;
top: 170px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 283px;
height: 55px;
left: 52px;
top: 170px;



/* Rectangle 195 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 170px;

background: #D9D9D9;


/* Rectangle 199 */

position: absolute;
width: 8px;
height: 8px;
left: 52px;
top: 217px;

background: #D9D9D9;


/* Rectangle 200 */

position: absolute;
width: 8px;
height: 8px;
left: 326px;
top: 170px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 327px;
top: 217px;

background: #D9D9D9;


/* 拆解步骤第一步 */

position: absolute;
width: 84px;
height: 18px;
left: 122px;
top: 191px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

color: #999999;



/* 拆解步骤这一步可能要做什么什么。 */

position: absolute;
width: 124px;
height: 32px;
left: 123px;
top: 247px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */

color: #999999;



/* 拆解步骤，这一步可能要做什么什么。 */

position: absolute;
width: 126px;
height: 32px;
left: 122px;
top: 307px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */

color: #000000;



/* 拆解步骤 */

position: absolute;
width: 48px;
height: 18px;
left: 123px;
top: 377px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

color: #000000;



/* 拆解步骤 */

position: absolute;
width: 48px;
height: 18px;
left: 123px;
top: 436px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

color: #000000;



/* 1. */

position: absolute;
width: 40px;
height: 51px;
left: 66px;
top: 170px;

font-family: 'Silkscreen';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 51px;

color: #3B3B3B;



/* 2. */

position: absolute;
width: 45px;
height: 51px;
left: 66px;
top: 232px;

font-family: 'Silkscreen';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 51px;

color: #3B3B3B;



/* 3. */

position: absolute;
width: 45px;
height: 51px;
left: 66px;
top: 294px;

font-family: 'Silkscreen';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 51px;

color: #3B3B3B;



/* 4. */

position: absolute;
width: 45px;
height: 51px;
left: 66px;
top: 356px;

font-family: 'Silkscreen';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 51px;

color: #3B3B3B;



/* 5. */

position: absolute;
width: 45px;
height: 51px;
left: 66px;
top: 418px;

font-family: 'Silkscreen';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 51px;

color: #3B3B3B;



/* Exclude */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 181px;

background: #3B3B3B;


/* Rectangle 152 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 181px;

background: #C0C0C0;


/* Group 43 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 181px;



/* Rectangle 186 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 181px;

background: #C0C0C0;


/* Rectangle 187 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 181px;

background: #C0C0C0;


/* Rectangle 188 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 207.4px;

background: #C0C0C0;


/* Rectangle 189 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 207.4px;

background: #C0C0C0;


/* Exclude */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 243px;

background: #3B3B3B;


/* Rectangle 152 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 243px;

background: #C0C0C0;


/* Group 43 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 243px;



/* Rectangle 186 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 243px;

background: #C0C0C0;


/* Rectangle 187 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 243px;

background: #C0C0C0;


/* Rectangle 188 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 269.4px;

background: #C0C0C0;


/* Rectangle 189 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 269.4px;

background: #C0C0C0;


/* Exclude */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 306px;

background: #ECECEC;


/* Rectangle 152 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 306px;

background: #C0C0C0;


/* Group 43 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 306px;



/* Rectangle 186 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 306px;

background: #C0C0C0;


/* Rectangle 187 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 306px;

background: #C0C0C0;


/* Rectangle 188 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 332.4px;

background: #C0C0C0;


/* Rectangle 189 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 332.4px;

background: #C0C0C0;


/* Exclude */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 369px;

background: #ECECEC;


/* Rectangle 152 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 369px;

background: #C0C0C0;


/* Group 43 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 369px;



/* Rectangle 186 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 369px;

background: #C0C0C0;


/* Rectangle 187 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 369px;

background: #C0C0C0;


/* Rectangle 188 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 395.4px;

background: #C0C0C0;


/* Rectangle 189 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 395.4px;

background: #C0C0C0;


/* Exclude */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 431px;

background: #ECECEC;


/* Rectangle 152 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 431px;

background: #C0C0C0;


/* Group 43 */

position: absolute;
width: 33px;
height: 33px;
left: 289px;
top: 431px;



/* Rectangle 186 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 431px;

background: #C0C0C0;


/* Rectangle 187 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 431px;

background: #C0C0C0;


/* Rectangle 188 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 315.4px;
top: 457.4px;

background: #C0C0C0;


/* Rectangle 189 */

position: absolute;
width: 6.6px;
height: 6.6px;
left: 289px;
top: 457.4px;

background: #C0C0C0;


/* Group 23 */

position: absolute;
width: 39px;
height: 26px;
left: 289px;
top: 188px;



/* Rectangle 150 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 302px;
top: 207.5px;

background: #CFFF0B;


/* Rectangle 160 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 295.5px;
top: 201px;

background: #CFFF0B;


/* Rectangle 161 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 289px;
top: 194.5px;

background: #CFFF0B;


/* Rectangle 152 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 315px;
top: 194.5px;

background: #CFFF0B;


/* Rectangle 162 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 321.5px;
top: 188px;

background: #CFFF0B;


/* Rectangle 151 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 308.5px;
top: 201px;

background: #CFFF0B;


/* Group 24 */

position: absolute;
width: 39px;
height: 26px;
left: 289px;
top: 250px;



/* Rectangle 150 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 302px;
top: 269.5px;

background: #CFFF0B;


/* Rectangle 160 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 295.5px;
top: 263px;

background: #CFFF0B;


/* Rectangle 161 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 289px;
top: 256.5px;

background: #CFFF0B;


/* Rectangle 152 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 315px;
top: 256.5px;

background: #CFFF0B;


/* Rectangle 162 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 321.5px;
top: 250px;

background: #CFFF0B;


/* Rectangle 151 */

position: absolute;
width: 6.5px;
height: 6.5px;
left: 308.5px;
top: 263px;

background: #CFFF0B;


/* Rectangle 759 */

position: absolute;
width: 8px;
height: 171px;
left: 341px;
top: 178px;

background: #CFFF0B;


/* Group 51 */

position: absolute;
width: 263px;
height: 60px;
left: 45px;
top: 87px;



/* Rectangle 175 */

position: absolute;
width: 157px;
height: 26px;
left: 45px;
top: 88px;

background: #3B3B3B;


/* Rectangle 176 */

position: absolute;
width: 239px;
height: 32px;
left: 65px;
top: 113px;

background: #3B3B3B;


/* 我想做一个软件， 它的主要功能是拆解任务。 */

position: absolute;
width: 258px;
height: 60px;
left: 50px;
top: 87px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #CFFF0B;



/* Group 42 */

position: absolute;
width: 138.81px;
height: 39.2px;
left: 48px;
top: 507px;



/* Subtract */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 53.27px;
top: 512.27px;

background: #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 53.27px;
top: 512.27px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 133.81px;
height: 34.77px;
left: 53.27px;
top: 512.27px;



/* Rectangle 195 */

position: absolute;
width: 5.27px;
height: 5.27px;
left: 53.27px;
top: 512.27px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 181.81px;
top: 540.71px;

background: #D9D9D9;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 133.55px;
height: 33.93px;
left: 48px;
top: 507px;

background: #CFFF0B;
border: 0.8px solid #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 48px;
top: 507px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 176.54px;
top: 535.45px;



/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 176.54px;
top: 535.45px;

background: #D9D9D9;


/* 新的任务! */

position: absolute;
width: 70px;
height: 24px;
left: 81px;
top: 512.2px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #3B3B3B;



/* Group 49 */

position: absolute;
width: 138.81px;
height: 39.2px;
left: 216px;
top: 507px;



/* Subtract */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 221.27px;
top: 512.27px;

background: #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 221.27px;
top: 512.27px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 133.73px;
height: 34.77px;
left: 221.27px;
top: 512.27px;



/* Rectangle 195 */

position: absolute;
width: 5.27px;
height: 5.27px;
left: 221.27px;
top: 512.27px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 349.73px;
top: 540.71px;

background: #D9D9D9;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 133.55px;
height: 33.93px;
left: 216px;
top: 507px;

background: #CFFF0B;
border: 0.8px solid #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 216px;
top: 507px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 344.54px;
top: 535.45px;



/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 344.54px;
top: 535.45px;

background: #D9D9D9;


/* 查看成就! */

position: absolute;
width: 70px;
height: 24px;
left: 249px;
top: 512.2px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #3B3B3B;



/* Dribbble shot HD - 22 */

position: relative;
width: 400px;
height: 600px;

background: linear-gradient(0deg, #F3F3F3, #F3F3F3);


/* Group 54 */

position: absolute;
width: 185.95px;
height: 99.04px;
left: -25px;
top: 0px;



/* Rectangle 760 */

position: absolute;
width: 58.49px;
height: 24.95px;
left: 41.28px;
top: 74.08px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 769 */

position: absolute;
width: 108.39px;
height: 24.95px;
left: 0.73px;
top: 24.95px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 770 */

position: absolute;
width: 115px;
height: 24px;
left: 21px;
top: 50px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 768 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 136px;
top: 25px;

background: #FFFFFF;


/* Rectangle 771 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 41.28px;
top: 0px;

background: #FFFFFF;


/* Rectangle 772 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: -25px;
top: 49.13px;

background: #FFFFFF;


/* Group 55 */

position: absolute;
width: 180.14px;
height: 99.04px;
left: 318px;
top: 80px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 760 */

position: absolute;
width: 58.49px;
height: 24.95px;
left: 373.37px;
top: 154.08px;

background: #FFFFFF;


/* Rectangle 769 */

position: absolute;
width: 108.39px;
height: 24.95px;
left: 364.01px;
top: 104.95px;

background: #FFFFFF;


/* Rectangle 770 */

position: absolute;
width: 108.39px;
height: 24.17px;
left: 343.73px;
top: 129.91px;

background: #FFFFFF;


/* Rectangle 768 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 318px;
top: 104.95px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 771 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 406.9px;
top: 80px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 772 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 473.18px;
top: 129.13px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 57 */

position: absolute;
width: 138px;
height: 36px;
left: 57px;
top: 180px;



/* 你想做什么? */

position: absolute;
width: 138px;
height: 36px;
left: 57px;
top: 180px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #2D2D2D;



/* Group 49 */

position: absolute;
width: 287px;
height: 123px;
left: 57px;
top: 227px;



/* Rectangle 202 */

position: absolute;
width: 271px;
height: 112px;
left: 73px;
top: 238px;

background: #3B3B3B;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 282px;
height: 117px;
left: 57px;
top: 227px;

background: #FFFFFF;
border: 1px solid #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 282px;
height: 117px;
left: 57px;
top: 227px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 8px;
height: 8px;
left: 331px;
top: 336px;



/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 331px;
top: 336px;

background: #D9D9D9;


/* 我想在xx分钟内做一个xxx.... */

position: absolute;
width: 154px;
height: 15px;
left: 75px;
top: 241px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #D7D7D7;



/* Group 42 */

position: absolute;
width: 173.52px;
height: 49px;
left: 118px;
top: 376px;



/* Subtract */

position: absolute;
width: 166.93px;
height: 42.41px;
left: 124.58px;
top: 382.58px;

background: #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 166.93px;
height: 42.41px;
left: 124.58px;
top: 382.58px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 167.26px;
height: 43.46px;
left: 124.58px;
top: 382.58px;



/* Rectangle 195 */

position: absolute;
width: 6.58px;
height: 6.58px;
left: 124.58px;
top: 382.58px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 6.58px;
height: 7.9px;
left: 285.26px;
top: 418.14px;

background: #D9D9D9;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 166.93px;
height: 42.41px;
left: 118px;
top: 376px;

background: #CFFF0B;
border: 1px solid #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 166.93px;
height: 42.41px;
left: 118px;
top: 376px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 6.58px;
height: 7.9px;
left: 278.67px;
top: 411.56px;



/* Rectangle 201 */

position: absolute;
width: 6.58px;
height: 7.9px;
left: 278.67px;
top: 411.56px;

background: #D9D9D9;


/* 开始! */

position: absolute;
width: 38px;
height: 24px;
left: 184px;
top: 385px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #3B3B3B;



/* image 52 */

position: absolute;
width: 57px;
height: 44px;

background: url(image.png);
mix-blend-mode: multiply;


/* image 53 */

position: absolute;
width: 57px;
height: 44px;

background: url(image.png);
mix-blend-mode: multiply;


/* image 54 */

position: absolute;
width: 57px;
height: 44px;

background: url(image.png);
mix-blend-mode: multiply;


/* image 55 */

position: absolute;
width: 44px;
height: 44px;

background: url(image.png);
mix-blend-mode: multiply;


/* image 50 */

position: absolute;
width: 44px;
height: 44px;

background: url(image.png);
mix-blend-mode: multiply;


/* image 51 */

position: absolute;
width: 44px;
height: 44px;

background: url(image.png);
mix-blend-mode: multiply;


/* ChatGPT Image 2025年7月26日 17_24_07 2 */

position: absolute;
width: 40px;
height: 44px;

background: url(ChatGPT Image 2025年7月26日 17_24_07.png);
mix-blend-mode: multiply;


/* ChatGPT Image 2025年7月26日 17_24_07 4 */

position: absolute;
width: 45px;
height: 48px;

background: url(ChatGPT Image 2025年7月26日 17_24_07.png);
mix-blend-mode: multiply;


/* ChatGPT Image 2025年7月26日 17_24_07 1 */

position: absolute;
width: 40px;
height: 39px;

background: url(ChatGPT Image 2025年7月26日 17_24_07.png);
mix-blend-mode: multiply;


/* Dribbble shot HD - 24 */

position: relative;
width: 400px;
height: 600px;

background: linear-gradient(0deg, #F5F5F5, #F5F5F5);


/* Group 54 */

position: absolute;
width: 185.95px;
height: 99.04px;
left: 280px;
top: 195px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 760 */

position: absolute;
width: 58.49px;
height: 24.95px;
left: 341.18px;
top: 269.08px;

background: #FFFFFF;


/* Rectangle 769 */

position: absolute;
width: 108.39px;
height: 24.95px;
left: 331.83px;
top: 219.95px;

background: #FFFFFF;


/* Rectangle 770 */

position: absolute;
width: 115px;
height: 24px;
left: 304.95px;
top: 245px;

background: #FFFFFF;


/* Rectangle 768 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 280px;
top: 220px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 771 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 374.72px;
top: 195px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 772 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 441px;
top: 244.13px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 55 */

position: absolute;
width: 180.14px;
height: 99.04px;
left: -67px;
top: -21px;



/* Rectangle 760 */

position: absolute;
width: 58.49px;
height: 24.95px;
left: -0.72px;
top: 53.08px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 769 */

position: absolute;
width: 108.39px;
height: 24.95px;
left: -41.27px;
top: 3.95px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 770 */

position: absolute;
width: 108.39px;
height: 24.17px;
left: -20.99px;
top: 28.91px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 768 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: 88.18px;
top: 3.95px;

background: #FFFFFF;


/* Rectangle 771 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: -0.72px;
top: -21px;

background: #FFFFFF;


/* Rectangle 772 */

position: absolute;
width: 24.95px;
height: 24.95px;
left: -67px;
top: 28.13px;

background: #FFFFFF;


/* Group 32 */

position: absolute;
width: 241px;
height: 108px;
left: 54px;
top: 157px;



/* Rectangle 176 */

position: absolute;
width: 30px;
height: 29px;
left: 54px;
top: 195px;

background: #CFFF0B;


/* Rectangle 181 */

position: absolute;
width: 99px;
height: 29px;
left: 110px;
top: 231px;

background: #CFFF0B;


/* Rectangle 179 */

position: absolute;
width: 30px;
height: 29px;
left: 198px;
top: 160px;

background: #CFFF0B;


/* 你今天做完了 3 件事， 17 个步骤。 用时 2h45min */

position: absolute;
width: 241px;
height: 108px;
left: 54px;
top: 157px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #2D2D2D;



/* Group 47 */

position: absolute;
width: 94px;
height: 90px;
left: 46px;
top: 320px;



/* Exclude */

position: absolute;
width: 85px;
height: 85px;
left: 55px;
top: 325px;

background: #3B3B3B;


/* Subtract */

position: absolute;
width: 85px;
height: 85px;
left: 55px;
top: 325px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 85px;
height: 85px;
left: 55px;
top: 325px;

background: #FFFFFF;


/* Group 44 */

position: absolute;
width: 8px;
height: 8px;
left: 132px;
top: 402px;



/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 132px;
top: 402px;

background: #D9D9D9;


/* Exclude */

box-sizing: border-box;

position: absolute;
width: 85px;
height: 85px;
left: 46px;
top: 320px;

background: #FEFFFE;
border: 1px solid #3B3B3B;


/* Subtract */

position: absolute;
width: 85px;
height: 85px;
left: 46px;
top: 320px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 85px;
height: 85px;
left: 46px;
top: 320px;

background: #FFFFFF;


/* Group 44 */

position: absolute;
width: 8px;
height: 8px;
left: 123px;
top: 397px;



/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 123px;
top: 397px;

background: #D9D9D9;


/* image 25 */

position: absolute;
width: 43px;
height: 47px;
left: 67px;
top: 339px;

background: url(image);


/* Group 57 */

position: absolute;
width: 94px;
height: 90px;
left: 153px;
top: 320px;



/* Exclude */

position: absolute;
width: 85px;
height: 85px;
left: 162px;
top: 325px;

background: #3B3B3B;


/* Subtract */

position: absolute;
width: 85px;
height: 85px;
left: 162px;
top: 325px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 85px;
height: 85px;
left: 162px;
top: 325px;

background: #FFFFFF;


/* Group 44 */

position: absolute;
width: 8px;
height: 8px;
left: 239px;
top: 402px;



/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 239px;
top: 402px;

background: #D9D9D9;


/* Exclude */

box-sizing: border-box;

position: absolute;
width: 85px;
height: 85px;
left: 153px;
top: 320px;

background: #FEFFFE;
border: 1px solid #3B3B3B;


/* Subtract */

position: absolute;
width: 85px;
height: 85px;
left: 153px;
top: 320px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 85px;
height: 85px;
left: 153px;
top: 320px;

background: #FFFFFF;


/* Group 44 */

position: absolute;
width: 8px;
height: 8px;
left: 230px;
top: 397px;



/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 230px;
top: 397px;

background: #D9D9D9;


/* image 26 */

position: absolute;
width: 49px;
height: 48px;
left: 171px;
top: 340px;

background: url(image.png);


/* Group 58 */

position: absolute;
width: 94px;
height: 90px;
left: 258px;
top: 320px;



/* Exclude */

position: absolute;
width: 85px;
height: 85px;
left: 267px;
top: 325px;

background: #3B3B3B;


/* Subtract */

position: absolute;
width: 85px;
height: 85px;
left: 267px;
top: 325px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 85px;
height: 85px;
left: 267px;
top: 325px;

background: #FFFFFF;


/* Group 44 */

position: absolute;
width: 8px;
height: 8px;
left: 344px;
top: 402px;



/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 344px;
top: 402px;

background: #D9D9D9;


/* Exclude */

box-sizing: border-box;

position: absolute;
width: 85px;
height: 85px;
left: 258px;
top: 320px;

background: #FEFFFE;
border: 1px solid #3B3B3B;


/* Subtract */

position: absolute;
width: 85px;
height: 85px;
left: 258px;
top: 320px;

background: #FFFFFF;


/* Rectangle 194 */

position: absolute;
width: 85px;
height: 85px;
left: 258px;
top: 320px;

background: #FFFFFF;


/* Group 44 */

position: absolute;
width: 8px;
height: 8px;
left: 335px;
top: 397px;



/* Rectangle 201 */

position: absolute;
width: 8px;
height: 8px;
left: 335px;
top: 397px;

background: #D9D9D9;


/* image 26 */

position: absolute;
width: 49px;
height: 48px;
left: 276px;
top: 337px;



/* image 25 */

position: absolute;
width: 50.77px;
height: 56px;
left: 276px;
top: 332px;

background: url(image.png);


/* Group 42 */

position: absolute;
width: 138.81px;
height: 39.2px;
left: 48px;
top: 507px;



/* Subtract */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 53.27px;
top: 512.27px;

background: #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 53.27px;
top: 512.27px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 133.81px;
height: 34.77px;
left: 53.27px;
top: 512.27px;



/* Rectangle 195 */

position: absolute;
width: 5.27px;
height: 5.27px;
left: 53.27px;
top: 512.27px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 181.81px;
top: 540.71px;

background: #D9D9D9;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 133.55px;
height: 33.93px;
left: 48px;
top: 507px;

background: #CFFF0B;
border: 0.8px solid #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 48px;
top: 507px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 176.54px;
top: 535.45px;



/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 176.54px;
top: 535.45px;

background: #D9D9D9;


/* 新的任务！ */

position: absolute;
width: 80px;
height: 24px;
left: 76px;
top: 512.2px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #3B3B3B;



/* Group 56 */

position: absolute;
width: 138.81px;
height: 39.2px;
left: 216px;
top: 507px;



/* Subtract */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 221.27px;
top: 512.27px;

background: #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 221.27px;
top: 512.27px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 133.73px;
height: 34.77px;
left: 221.27px;
top: 512.27px;



/* Rectangle 195 */

position: absolute;
width: 5.27px;
height: 5.27px;
left: 221.27px;
top: 512.27px;

background: #D9D9D9;


/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 349.73px;
top: 540.71px;

background: #D9D9D9;


/* Subtract */

box-sizing: border-box;

position: absolute;
width: 133.55px;
height: 33.93px;
left: 216px;
top: 507px;

background: #CFFF0B;
border: 0.8px solid #3B3B3B;


/* Rectangle 194 */

position: absolute;
width: 133.55px;
height: 33.93px;
left: 216px;
top: 507px;

background: #FFFFFF;


/* Group 40 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 344.54px;
top: 535.45px;



/* Rectangle 201 */

position: absolute;
width: 5.27px;
height: 6.32px;
left: 344.54px;
top: 535.45px;

background: #D9D9D9;


/* 查看成就！ */

position: absolute;
width: 80px;
height: 24px;
left: 244px;
top: 512.2px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #3B3B3B;



/* 选一个成就吧！ */

position: absolute;
width: 84px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #2D2D2D;

